
 Body {
    Font-family: Arial, sans-serif;
    color:white;
    background-color: #bee4f1;
    border-radius: 15px;
    text-align: center;
    width: 600px;
    height: 600px

  }
  



.container {
    Display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:repeat(9, 1fr);
    Grid-gap: 10px;
    height: 70vh;
  }
  
  .header {
    grid-row: 1/2;
    grid-column: 1/4 ;
    Background-color: #02b9ab;
    Padding: 10px;
    Text-align: center;
    
  
  }
  
  .aside {
    Background-color: #6bd46b;
    Padding: 10px;
    grid-column: 1/2;
    grid-row: 2/9;
   

  }
  
.article {
    Display: grid;
    Grid-template-columns: 1fr 1fr 1fr;
    Grid-gap: 10px;
    background-color: #f3aa4a;
    grid-column: 2/4;
    grid-row: 2/9;
  }
  
  .image {
    Background-color:#f4cb48;
    Padding: 20px;
    Text-align: center;
    grid-row: 7/9 ;
    margin: 10px ;
    text-align: center;  

}

  
  .footer {
    Background-color: #02b9ab;
    Padding: 10px;
    Text-align: center;
    grid-column: 1/4;
    grid-row: 9/10;
  }
  
