.container{
    display:grid ;
background-color:white;
grid-template-columns: repeat(8,1fr);
grid-template-rows: repeat(10,1fr) ;
width: 1527px;
height: 713px;
gap: 10px;
text-align: center;
color: white;
font-family: Arial, Helvetica, sans-serif;
}
div >div{
    padding: 30px;
}
.item1{
    background-color: greenyellow;
    grid-area: 1/1/2/9;
    
    
}
.item2{
    background-color: rgb(232, 172, 241);
    grid-area: 2/1/4/4;
}
.item3{
    background-color: rgb(68, 91, 34);
    grid-area:4/1/8/4;
}
.item4{
    background-color: rgb(211, 143, 75);
grid-area:2/4/6/9;
}
.item5{
    background-color: rgb(165, 173, 152);
    grid-area:6/4/8/9;
}
.item6{
    background-color: rgb(81, 130, 167);
    grid-area: 8/1/10/7;
}
.item7{
    background-color: rgb(225, 42, 91);
    grid-area: 8/7/10/9;
}
.item8{
    background-color: rgb(57, 30, 209);
    grid-area: 10/1/11/9;
}