.container{
    display: grid;
    background-color: lightblue;
    grid-template-columns:repeat(6,2fr) ;
    grid-template-rows:repeat(6,2fr) ;
    width: 700px;
    height: 600px;
    margin-left: 400px;
    margin-top: 60px;
    gap: 20px;
    padding: 20px;
    border-radius: 5%;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.a7a{
    display: flex;
    justify-content:space-evenly;
    align-content: end;
    height:170px;
    width: 457px;
    
}
.bnbn{
    border: 1px solid white;
    align-content: center;
}
.img{
    background-color: rgba(234, 200, 92, 0.41);
    height: 110px;
    width: 110px;
    align-content: center;
}
.item1{
    background-color:rgb(10, 160, 160) ;
    grid-area: 1/1/2/7;
}
.item2{
    background-color:rgb(126, 216, 126) ;
    grid-area: 2/1/6/3;
}
.item3{
    background-color:orange ;
grid-area: 2/3/6/7;
align-content: end;
}
.item4{
     background-color:rgb(10, 160, 160) ;
grid-area: 6/1/7/7;
    }